.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 76%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  background-color: transparent;
  font-weight: bold;
  font-size: 40px;
  border: none;
  user-select: none;
}

.prev {
  left: 0;
}
.next {
  right: 0;
}

.prev:hover,
.next:hover {
  background-color: gray;
}
